<a href="https://colab.research.google.com/github/DepikaR/python_fresher_2023/blob/main/Arithmetic_Operators_Ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Arithmetic operators

Combine 15 and 23.

In [1]:
a,b=15,23
c=a+b
c

38

Subtract 50 from 26.

In [2]:
x,y=50,26
z=x-y
z

24

Divide 20 by 4.

In [3]:
i=20
print(i/4)

5.0

Divide 22 by 4.

In [4]:
j=22
k=j/4
print(k)

5.5

Obtain the remainder of the division of 22 by 4.

In [5]:
k=j%4
print(k)

2

Divide the float 22 by 4.

In [6]:
l=float(j)
m=(l/4)
m

5.5

Multiply 6 by 8.

In [7]:
print(6*8)

48

Raise 15 to the power of 2.

In [8]:
print(15 ** 2)

225